<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <form action="">
            <h1>Login</h1><br>
            <label >Username</label>
            <input type="text"><br>
            <label >Email Id</label>
            <input type="text"><br>
            <label >Password</label>
            <input type="password" name="" id=""><br>
            <button >sign up</button><br>
        </form>
    </div>
    
</body>
</html>
