<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div>
        <form action="index.html" onsubmit="return validateForm()" >
            <h1>Login</h1><br>
            <label >Email Id</label>
            <input type="text" id="email" ><br>
            <label >Password</label>
            <input type="password" id="password"><br>
            <button >Login</button>
            <button > <a href="register.html">Sign up</a></button><br>
        </form>
    </div>
    <script src="/templates/login.js"></script>
</body>
</html>
