<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div>
        <form action="login.html" onsubmit="return validateForm()" >
            <h1>Login</h1><br>
            <label >Username</label>
            <input type="text" id="name"><br>
            <label >Email Id</label>
            <input type="text" id="email" ><br>
            <label >Phone no</label>
            <input type="number" id="num"><br>
            <label >Password</label>
            <input type="password" id="password"><br>
            <button >Sign up</button><br>
        </form>
    </div>
    <script src="register.js"></script>
</body>
</html>