@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,rgb(124, 124, 255),rgba(255, 0, 0, 0.621));
}

form{
    box-shadow: 0 8px 22px 0 rgb(42, 42, 42);
    border-radius: 15px;
    display: flex;
    background: rgb(243, 239, 239,0.06);
    flex-direction: column;
    padding: 35px;
    border-left: 1px solid rgb(255, 255, 255,0.4);
    border-top: 1px solid rgb(255, 255, 255,0.4);
}
input{
    height: 36px;
    width: 320px;
    border: ridge;
    background: transparent;
    outline: none;
    border: none;
    color: aliceblue;
    border-bottom: 1px solid rgb(255, 255, 255,0.6);
}
button{
    border-radius: 9px;
    height: 36px;
    width: 150px;
    margin: 3% auto;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255,);
    background: transparent;
    border: none;
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 3px rgba(124, 124, 255, 0.225,0.4);
}
h1{
    text-align: center;
}

a{
  color: aliceblue;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  }